/* Home.module.css */
.page {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 100px 20px 20px; /* 헤더 공간 확보 */
  overflow-x: hidden;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #222, #333);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  justify-content: flex-start;
}

.controls .searchInputWrapper {
  margin-left: auto;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.select:hover {
  background-color: #555;
}

.searchInput {
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #666;
  background-color: #2a2a2a;
  color: #fff;
  width: 200px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchInput:focus {
  border-color: #888;
  box-shadow: 0 0 15px rgba(136, 136, 136, 0.8);
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .movies {
    grid-template-columns: 1fr;
  }
}

/* index.css */
:root {
  --background-color: #141414;
  --text-color: #e5e5e5;
}

.light-mode {
  --background-color: #f9f9f9;
  --text-color: #1c1c1c;
}

.dark-mode {
  --background-color: #141414;
  --text-color: #e5e5e5;
}

/* Home.module.css */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pageButton {
  background-color: var(--button-background, #444);
  color: var(--button-text-color, #fff);
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pageButton:hover {
  background-color: var(--button-hover-background, #555);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.activePage {
  background-color: var(--button-active-background, #e50914);
  color: #fff;
  box-shadow: 0 4px 10px rgba(229, 9, 20, 0.6);
}

/* index.css */
:root {
  --background-color: #141414;
  --text-color: #e5e5e5;
  --button-background: #444;
  --button-text-color: #fff;
  --button-hover-background: #555;
  --button-active-background: #e50914;
}

.light-mode {
  --background-color: #f9f9f9;
  --text-color: #1c1c1c;
  --button-background: #ddd;
  --button-text-color: #1c1c1c;
  --button-hover-background: #ccc;
  --button-active-background: #ff4500;
}

.dark-mode {
  --background-color: #141414;
  --text-color: #e5e5e5;
  --button-background: #444;
  --button-text-color: #fff;
  --button-hover-background: #555;
  --button-active-background: #e50914;
}
